
html {
    scroll-behavior: smooth;
  }
body
{
    
    scroll-behavior: auto;
    font-family: 'Josefin Sans', sans-serif;    
}
.navbar-item
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    
}
.navbar-item:hover
{
    background-color: black !important;
    -webkit-mask-image: linear-gradient(-75deg, rgba(255, 83, 229, 0.6) 30%, rgb(5, 31, 124) 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s normal;
    animation-iteration-count: infinite; 
}
.navbar-link
{
    color: white;
    font-size: 20px;
    font-weight: 100;
    
}
.navbar-link:hover
{
    background-color: black !important;
    
}
.navbar
{
  height: 10vh;
    z-index: 10000;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}
.esp_logo
{
    margin-top:5px;
    font-weight: 500;
    background: rgb(255, 0, 217);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.esp_2k22
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600 !important;
    background: -webkit-linear-gradient(#d9ff00, #869719);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.home-content
{
    
    color: white;
    font-weight: 500;
    justify-content: center;
}

.lefthome
{
    height: 50%;
}

.hero
{
   
    margin-top: 10vh;
}
.hero-body
{
   
    align-content: flex-start !important;
}





video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(0.3);
   
  }
  .hero {
    
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-body
  {
      z-index: 1000;
      text-align: center;
      
  }

.dsatm_logo:hover
{
    -webkit-mask-image: linear-gradient(-75deg, rgba(146, 6, 125, 0.6) 30%, rgb(5, 31, 124) 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s normal;
    animation-iteration-count: infinite;  
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid black; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: rgb(255, 255, 255); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    width: 54px;
    
  }
  #myBtn>h2
  {
    padding: 20px; /* Some padding */
   
   
  }
  .insta
{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
}
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background:linear-gradient(135deg, #f53eff 0%,#7367F0 100%);
    border-radius: 10px;
  }
  
.glasscard
{
    
    position:relative;
    background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    padding: 20px;
    border-radius:5px;
    border: 10px solid white;
    text-align: left !important;
    width: 100%;
    
}

.line { 
    margin: 0 0 0 10px !important;  
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left:55%;
    border-left: 3px dashed rgb(255, 255, 255);
}

@media screen and (max-width:500px)
{
    #ticket
    {
       flex:1 !important;
    }
    #ticket>.is-1
    {
        font-size:2.5rem !important;
    }
    #pass
    {
        font-size:2.3rem !important;
    }
    #qr
    {
        display:none;
    }
    .line
    {
        display:none;
    }

    /* write your media query here divyanshiii */
}

#baa_guru
{
    cursor: pointer;
}








/* effect-shine */
.esp_logo {
    
    -webkit-mask-size: 200%;
    
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
    
  }


  .countdown
{
display:flex;
flex-direction: row;
font-size: 50px;
text-align:center;
align-items: center;
justify-content: center;

}
.countdown>p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    border: 5px solid rgb(255, 255, 255);
    margin: 0 5px 0 5px;
    padding: 5px;
   
    color: rgb(255, 255, 255);
  
}

.footer {
    padding: 20px;
    background:black;
    color: white;
}
  .animate-reveal {
    
    
    letter-spacing: 2px;
    opacity: 0;
    -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       -moz-animation: reveal 2s ease-in 1 normal forwards;
         -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            
  }
  
  .animate-first {
    -webkit-animation-delay: 0.5s;
       -moz-animation-delay: 0.5s;
         -o-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  .animate-second {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
      -o-animation-delay: 1.5s;
         animation-delay: 1.5s;
  }
  
  .animate-third {
    -webkit-animation-delay: 1.5s;
       -moz-animation-delay: 1.5s;
         -o-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-moz-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-o-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }


  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  
/* (A) FULL SCREEN WRAPPER */
#spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0; left: 0; z-index: 100000;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 1);
  transition: opacity 0.2s;
}
 
/* (B) CENTER LOADING SPINNER */
#spinner img {
  width: 30%;
  position: absolute;
  top: 40vh;
  
  animation: zoom-in-zoom-out 3s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}


 
/* (C) SHOW & HIDE */
#spinner.hide{
  visibility: hidden;
  opacity: 0;
}
#spinner.show {
  visibility: visible;
  opacity: 1;
}
