
html {
    scroll-behavior: smooth;
  }
body
{
    
    scroll-behavior: auto;
    font-family: 'Josefin Sans', sans-serif;    
}
.navbar-item
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    
}
.navbar-item:hover
{
    background-color: black !important;
    -webkit-mask-image: linear-gradient(-75deg, rgba(146, 6, 125, 0.6) 30%, rgb(5, 31, 124) 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s normal;
    animation-iteration-count: infinite; 
}
.navbar-link
{
    color: white;
    font-size: 20px;
    font-weight: 100;
    
}
.navbar-link:hover
{
    background-color: black !important;
    
}
.navbar
{
    
    padding: 10px;
    position: sticky;
    top: 0;
}
.esp_logo
{
    margin-top:5px;
    font-weight: 500;
    background: -webkit-linear-gradient(#FF00BF, #18222c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.esp_2k22
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600 !important;
    background: -webkit-linear-gradient(#d9ff00, #29412d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.home-content
{
    
    color: white;
    font-weight: 500;
    justify-content: center;
}

.lefthome
{
    height: 50%;
}

.hero
{
    background-image: url('../images/djcrowd.jpg') !important;
    
}
.hero-body
{
   
    align-content: flex-start !important;
}





video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(0.3);
   
  }
  .hero {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-body
  {
      z-index: 1000;
      text-align: center;
      
  }

.dsatm_logo:hover
{
    -webkit-mask-image: linear-gradient(-75deg, rgba(146, 6, 125, 0.6) 30%, rgb(5, 31, 124) 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s normal;
    animation-iteration-count: infinite;  
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 0, 0); /* Set a background color */
    color: rgb(255, 255, 255); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    width: 48px;
    
  }
  #myBtn>h2
  {
    padding: 20px; /* Some padding */
   
   
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


.glasscard
{
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    padding: 10px;
    border-radius:20px;
}












/* effect-shine */
.esp_logo {
    -webkit-mask-image: linear-gradient(-75deg, rgba(207, 6, 177, 0.6) 30%, rgb(5, 31, 124) 50%, rgba(164, 10, 72, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s normal;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
    
  }


/*Carousel*/
#carousel .carousel-item.boat{
  background-image:url("./Assets/lucid_air_prototype_2-HD.jpg");
}
#carousel .carousel-item.sea{
  background-image:url("./Assets/lucid-air-exterior-08.jpg");
}
#carousel .carousel-item.river{
  background-image:url("./Assets/lucid-air-exterior-03.jpg");
}
#carousel .carousel-item{
  height:100vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}
#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption h2{
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption p{
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a{
  animation-duration: 1s;
  animation-delay: 2.4s;
}




.delicious-btn{
  display: inline-block;
  min-width:160px;
  height:60px;
  color:#fff;
  border:none;
  border-left:3px solid #1c8314;
  border-radius: 0;
  padding:0 30px;
  font-size:16px;
  line-height:58px;
  font-weight:600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background:#40ba37;
}
.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus{
  font-size:16px;
  font-weight: 600;
  color:#fff;
  background:#1c8314;
  border-color:#40ba37
}



/*Carousel Ends*/
